{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "editorconfig": true,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
